img {
  width: 20%;
  height: 25vh;
}

/* Header */

/* All-Products */

/* Single-Product */

/* Reviews */

/* Button */

/* Links */

/* Checkout */

.checkout-title-product {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 44%;
}
.cart-products {
  display: flex;
  justify-content: space-around;
}
.checkout-product-name-price-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53%;
}
